
<div class="row">
    <div class="col-lg-3">
            <label>Select list:</label>
            <select class="form-control" ng-model="resourcetype">
                <option>Post</option>
                <option>User</option>
                <option>New Post</option>
            </select>
    </div>

    <div class="col-lg-3">
        <label>Post ID/User ID</label>
        <input type="text" class="form-control" ng-model="id">
    </div>

    <div class="col-lg-3">
        <label></label><br>
        <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
    </div>

</div>


