
<div class="row">
    <div class="text-center">
        <h1>New Post</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-lg-offset-1">
        <label>Post Title</label>
        <input type="text" class="form-control" ng-model="title">
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-lg-offset-1">
        <label>Body</label><br>
        <textarea type="text" class="form-control" ng-model="body"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-lg-offset-1">
        <label></label><br>
        <button type="button" class="btn btn-success" ng-click="submitPost()">Submit</button>
    </div>
</div>

<toaster-container></toaster-container>