<div class="container">
    <h2>List Of All Posts</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Body</th>
            <th>Title</th>
            <th>User Id</th>

        </tr>
        </thead>
        <tbody >
        <tr ng-repeat="post in posts">
            <td>{{post.id}}</td>
            <td>{{post.body}}</td>
            <td>{{post.title}}</td>
            <td>{{post.userId}}</td>

        </tr>

        </tbody>
    </table>
</div>